<div class="container">
    <div class="row">
        <div class="mb-5 col-md-4">
            <div class="card shadow-effect" routerLink="/categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h1><i class="fa-solid fa-clipboard-list text-theme-primary mt-3    "></i></h1>
                    <h2 class="text-theme-primary"> Category</h2>
                    <p>Manage your category details here </p>
                </div>
            </div>
        </div>
    </div>
</div>